/* Heart animations */
.like-icon {
  transform-origin: center;
}

.heart {
  transform-origin: center; /* Добавляем центрирование для элемента сердца */
}

.contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
  fill: var(--heart-sparks);
}

/* Hover state */
.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill 0.3s 0.05s linear;
}

/* Active state */
.like-icon:active .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.05s linear;
}

/* Liked state */
.like-icon.is-liked .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
  transform-origin: center; /* ЗАМЕЧАНИЕ ИСПРАВЛЕНО: Анимация масштабирования центрирована */
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

/* Keyframes */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}