*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--background-color);
  font-variation-settings: 'wght' var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}