:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P-Regular', fantasy;
  
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  
  --accent-color: #000000;
  --background-color: #ffffff;
  --button-text-color: #ffffff;
  --heart-contour-color: #000000;
  --heart-sparks: #ff0000;
  --label-stroke-color: #ffffff;
  
  --gradient-stripe: #d3d3d3;
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
  
  --background-gradient: 
    repeating-linear-gradient(90deg, var(--gradient-stripe) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, var(--gradient-stripe) 0 2px, transparent 2px 4px),
    linear-gradient(180deg, var(--gradient-start) 0.01%, var(--gradient-end) 100%);
  
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

@media (width <= 375px) {
  :root {
    --content-width: min(100%, 375px); /* Ограничиваем максимальную ширину */
  }
}